<div class="main-container">
    <div>
        <div *ngFor="let image of photos">
            <div class="main-image-container" *ngIf="image.isMain=== true">
                <div class="card text-dark bg-warning" style="width: 18rem; margin: auto; margin-bottom: 2rem;">
                    <img src="{{image.url}}" class="card-img-top" alt="...">
                    <div>  
                        <p style="text-align: center; font-weight: 500; font-size: 1.5rem; padding-top: 0.5rem;">Main photo</p>                  
                      
                    </div>
                  </div>         
            </div>
        </div>
    </div>
    <div class="photo-list">
        <div  *ngFor="let image of photos">            
                <div class="card text-white bg-light" style="width: 18rem;">
                    <img src="{{image.url}}" class="card-img-top" alt="...">
                    <div  class="card-body">   
                        <button (click)="setAsMain(image.id)" class="btn btn-warning">Set as Main</button>                
                        <button (click)="deleteMethod(image.id)" class="btn btn-danger">Delete</button>                                  
                    </div>
                  </div>            
        </div>
    </div>

</div>

