img {
    float: left;
    width: 500px;
    height: auto;
    object-fit: cover;
}

.main{
       background-image: linear-gradient(60deg,rgb(202, 186, 168), rgb(172, 172, 73));
        
}

.rent{   
    background-image: linear-gradient(60deg,rgb(157, 173, 75), rgb(133, 165, 82));
    
}
.address{
    font-weight: bold;
}

span {
  vertical-align: top;
  font-size: medium;
}




button{
    margin-block-start: auto;
    margin-inline-start: auto;
    --bs-btn-padding-y: 1rem; 
    --bs-btn-padding-x: 0.5rem; 
}