<article>
    <div class="main"
    [ngClass]="{'rent':property.propertyStatus==='Rent'}">
        <img src="{{property.mainPhotoUrl}}" alt="picture of property">
        <div class="property-content">
            <div class="sub-feature">
                <mat-icon>flag</mat-icon>
                <p class="sub-feature-text-title">  {{property.country}}</p>
            </div>
            <div class="sub-feature">
                <mat-icon>map</mat-icon>
                <p class="sub-feature-text-city">  {{property.city}}</p>
            </div>
            <div class="sub-feature">                
                    <mat-icon> euro</mat-icon>
                
                <p class="sub-feature-text">Price:  <span style="color: brown; font-weight: bold;">{{property.price}}</span> pln</p>
            </div>
            <div class="sub-feature">
                <mat-icon> aspect_ratio</mat-icon>
                
               
                <p class="sub-feature-text"> Property size:   <span style="color: brown; font-weight: bold;">{{property.propertySize}}</span> m2</p>
            </div>
            <div class="sub-feature">
                <mat-icon>home</mat-icon>
                <p class="sub-feature-text">Property type:  {{property.propertyType}}</p>
            </div>
            <div class="sub-feature">
                <mat-icon> key</mat-icon>
                <p class="sub-feature-text">  Status: for {{property.propertyStatus | uppercase}}</p>
            </div>
            <button type="button" class="btn btn-success" routerLink="/property/{{property.id}}">More details</button>
            <!-- <div class="sub-feature">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">                    
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                        </svg> 
                </div>
                <p>{{property.country}}</p> 
             </div> -->
        </div>
          
          
            
    </div>
       

  
</article>


