<!-- <article>
    <div class="main"
    [ngClass]="{'rent':property.propertyStatus==='Rent'}">
        <img src="{{property.mainPhotoUrl}}" alt="picture of property">
        <div class="property-content">
            <div class="sub-feature">
                <mat-icon>flag</mat-icon>
                <p class="sub-feature-text-title">  {{property.country}}</p>
            </div>
            <div class="sub-feature">
                <mat-icon>map</mat-icon>
                <p class="sub-feature-text-city">  {{property.city}}</p>
            </div>
            <div class="sub-feature">                
                    <mat-icon> euro</mat-icon>
                
                <p class="sub-feature-text">Price:  <span style="color: brown; font-weight: bold;">{{property.price}}</span> pln</p>
            </div>
            <div class="sub-feature">
                <mat-icon> aspect_ratio</mat-icon>
                
               
                <p class="sub-feature-text"> Property size:   <span style="color: brown; font-weight: bold;">{{property.propertySize}}</span> m2</p>
            </div>
            <div class="sub-feature">
                <mat-icon>home</mat-icon>
                <p class="sub-feature-text">Property type:  {{property.propertyType}}</p>
            </div>
            <div class="sub-feature">
                <mat-icon> key</mat-icon>
                <p class="sub-feature-text">  Status: for {{property.propertyStatus | uppercase}}</p>
            </div>
            <button type="button" class="btn btn-success" routerLink="/property/{{property.id}}/details">More details</button>
            
        </div>
          
          
            
    </div>
       

  
</article> -->


<div class="card mb-3 main" [ngClass]="{'rent':property.propertyStatus==='Rent'}" style="width: 100%; max-width: 50rem;">
    <div class="row g-0" style="justify-content: space-between;">
      <div class="col-md-7">
        <img src="{{property.mainPhotoUrl}}"  (error)="pictNotLoading($event)" alt="picture of property" style="height: 100%; width: auto; object-fit:cover ;"  class="img-fluid rounded-start">
      </div>
      <div class="col-md-5">
        <div class="card-body">         
         <p class="card-text"> <mat-icon>flag</mat-icon> <span class="address"> {{property.country | titlecase}} </span></p>
          
         <p class="card-text"><mat-icon>map</mat-icon><span class="address"> {{property.city | titlecase}}</span>  </p>        
         
                
               
          <p class="card-text"> <mat-icon> aspect_ratio</mat-icon><span> Property size: {{property.propertySize}} m2</span></p>     
          <p class="card-text"> <mat-icon> euro</mat-icon><span> Price: {{property.price}} pln</span> </p>
          <p class="card-text"><mat-icon>home</mat-icon><span> Property type:  {{property.propertyType}}</span> </p>
          <p class="card-text"><mat-icon> key</mat-icon><span> Status: for {{property.propertyStatus | uppercase}}</span>  </p>
          <button type="button" class="btn btn-success" routerLink="/property/{{property.id}}/details">More details</button>          
        </div>
        
      </div>
    </div>
  </div>