
 <body>
  <div class="wrapper">
    <div class="alert alert-warning" *ngIf="editForm.dirty">
      <strong>Information: </strong> You have made changes. Any unsaved changes will be lost.
  </div>
    <div class="header">
      <img src="{{property?.mainPhotoUrl}}" alt="main-photo">
      <div class="shadow-img"></div>
      <h1 class="title">Edit Property</h1>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="edit()" class="form-box">
        <label for="country">Country</label>
        <app-text-input [id]="'country'" [formControl]='editForm.controls["country"]' [label]='"Country"'></app-text-input>
        <label for="city">City</label>
        <app-text-input [id]="'city'" [formControl]='editForm.controls["city"]' [label]='"City"'></app-text-input>
        <label for="street">Street</label>
        <app-text-input [id]="'street'" [formControl]='editForm.controls["street"]' [label]='"Street"'></app-text-input>
        <div class="grid-two-columns">
          <div class="center">
            <label for="price">Price</label>
            <app-text-input [id]="'price'" [type]="'number'" [formControl]='editForm.controls["price"]' [label]='"Price"'></app-text-input>
          </div>
          <div class="center">
            <label for="size">Size M2</label>
            <app-text-input [id]="'size'" [type]="'number'" [formControl]='editForm.controls["propertysize"]' [label]='"Size"'></app-text-input>
          </div>
          <div class="center">
            <label for="floor-nr">Floor nr</label>
            <app-text-input  [id]="'floor-nr'" [type]="'number'" [formControl]='editForm.controls["floor"]' [label]='"Floor nr"'></app-text-input>
          </div>
          <div class="center">
            <label for="nrofrooms">Nr of rooms</label>
            <app-text-input [id]="'nrofrooms'" [type]="'number'" [formControl]='editForm.controls["numberofrooms"]' [label]='"Nr of rooms"'></app-text-input>
          </div>
          <div class="center">           
              <label for="propertytype">Property Type</label>
              <select id="propertytype" class="form-select" formControlName="propertytype">
                <option *ngFor="let c of propertytypes" [ngValue]="c">{{ c }}</option>
              </select>
          </div>
          <div class="center">
            <label for="markettype">Market type</label>
            <select id="markettype" class="form-select" formControlName="markettype">
              <option *ngFor="let c of marketTypes" [ngValue]="c">{{ c }}</option>
            </select>
           
          </div>
          <div class="center">
            <label for="propertystatus">Property status</label>
            <select id="propertystatus" class="form-select" formControlName="propertystatus">
              <option *ngFor="let c of propertyStatus" [ngValue]="c">{{ c }}</option>
            </select>          
          </div>
          <div class="center">
            <label for="closedkitchen">Closed kitchen</label>
            <select id="closedkitchen" class="form-select" formControlName="closedkitchen">
              <option *ngFor="let c of closedKitchen" [ngValue]="c">{{ c==="True"? "Yes": "No" }}</option>
            </select>
          </div>
          
        </div>
        <label for="description">Description</label>
        <app-text-textarea [formControl]='editForm.controls["description"]' id="description" [label]='"Description"'>
        </app-text-textarea>
        
        <div class="form-group text-center">
          <hr>
          <p style="margin-top:0.5rem; font-weight: bold;">UPDATE</p>   
          <button  [disabled]='!editForm.valid' type="submit" mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>  
                 
        </div>
    </form>
  </div>
</body>