<div style="width: 70%; padding-bottom:2rem; padding-top: 2rem; margin: auto;">
    
    <ul *ngFor="let property of properties">
        <app-property-card [property]="property"></app-property-card>
    </ul>
    <div>
    <mat-paginator [length]="pagination?.totalItems"
        [pageIndex]="0"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 15]"
                  aria-label="Select page"
                  (page)="onPageChange($event)"
                  >
    </mat-paginator>
    </div>

</div>


