<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Property App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FIND A PROPERTY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">MESSAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

      <div class="btn-group" class="me-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </button>

        <ul class="dropdown-menu ms-5" aria-labelledby="dropdownMenuButton1" style="width: 600px;">
           <form *ngIf="(accountService.currentUser$| async)===null"  #loginForm="ngForm" class="px-4 py-3" (ngSubmit)="login()" autocomplete="off"> 
           
            <div class="input-groups">
              <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                <input 
                type="email" 
                class="form-control" 
                id="exampleDropdownFormEmail1" 
                placeholder="email@example.com" 
                name="email"
                [(ngModel)]="model.email">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input type="password" 
                class="form-control" 
                id="exampleDropdownFormPassword1" 
                placeholder="Password" 
                name="password"
                [(ngModel)]="model.password">
              </div>
              <button id="loginButton" type="submit" class="btn btn-primary px-3 py-0.5">Sign in</button>
            </div>           
          </form>
           <div *ngIf="(accountService.currentUser$| async)">
            <li><a class="dropdown-item" (click)="logOut()" href="#">Logout</a></li>
          </div> 
          
        </ul>

      </div>
    </div>
  </div>
</nav>
