.navbar-brand {
  color: rgb(240, 230, 140)
}

.input-groups {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

#login {
  display: flex;
}

.dropdown {
  text-align: center;
}

.button,
.dropdown-menu {
  margin: 10px auto
}

.dropdown-menu {
  width: 200px;
  left: 62%;
  margin-left: -100px;
}

#loginButton {
  margin-top: 1.7rem;
}
